<!DOCTYPE html>
<html>
<head>
  <title>Instrumental2</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>



<%= render '/layouts/navigation' %>

<%= render '/layouts/messages' %>

<div id="app_container">
  <%= yield %>
</div>

</body>
</html>
